html{
    background: linear-gradient(to left, #222222 50%, #ffffff 50%);
    height:100%
}

body{
    background:url(img/grey_jm_logo_no_cirlce.png);
    background-size: cover;
    background-repeat: no-repeat;
}

h1{
    font-family: 'Source Sans Pro', sans-serif;
    color: #d9dcff;
    font-size: 3rem;
}

p{
    font-family: 'PT Serif', serif;
    font-size: 4.5rem;
    line-height: 5rem;
    color: #ffffff;
}



#righthalf{
    background-color: #222222;
    padding-top:100px;
}

#lefthalf{
    padding-top: 100px;
    
}

#media_icons{
    color: #d9dcff;
    font-size: 3rem;
}

@media (max-width: 1672px) {
    #righthalf{
        padding-top:0;
    }
}
