html{
    height:100%
}

body {
    background: linear-gradient(90deg, #ffffff 50%, #6eb5ff 50%)
}

h1{
    font-family: 'Enriqueta', serif;
    color: #ffffff;
}

p{
    font-family: 'Enriqueta', serif;
    color: #ffffff;
}

#imagelogo{
    height:100%
}