html{
    height:100%
}

body{
    background:url(img/grey_jm_logo_no_cirlce.png);
    background-size: cover;
    background-repeat: no-repeat;
}

h1{
    font-family: 'Alata', sans-serif;
    color: #ffffff;
}

p{
    font-family: 'PT Serif', serif;
    font-size: 4rem;
    line-height: 4rem;
    color: #ffffff;
}

#topspace{
    height:200px;
}

#righthalf{
    background-color: #222222;
    padding-top: 200px;
    
}

